.checkout-header {
  background-color: #ffffff;
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 33px;

  h1 {
    padding: 22px;
    font-size: 22px;
    line-height: 22px;

    a {
      color: #313131;
    }
  }
}

.order-summary {
  img {
    width: 88px;
    height: 88px;
  }
}
