<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="40px"class="contact-us">

  <div fxFlex="1 1 50%">
    <h2 class="contact-us-label">Contact us.</h2>
    <p class="contact-us-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </p>
  </div>

  <div fxFlex="1 1 50%" fxLayout="column" fxLayoutGap="40px">
    <div fxLayout="row"
         fxLayout.lt-md="column"
         fxLayoutAlign.gt-sm="start end"
         fxLayoutGap="20px">
      <div class="form-control" fxFlex="1 1 0%">
        <label>Name *</label>
        <input placeholder="First" />
      </div>

      <div class="form-control" fxFlex="1 1 0%">
        <input placeholder="Last" />
      </div>
    </div>

    <div class="form-control">
      <label>Email *</label>
      <input type="email" />
    </div>

    <div class="form-control">
      <label>Subject *</label>
      <input />
    </div>

    <div class="form-control">
      <label>Message *</label>
      <textarea></textarea>
    </div>

    <button>SUBMIT</button>
  </div>

</div>
