.card {
  padding: 22px;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
  background-color: #ffffff;

  &.disabled {
    opacity: .5;
  }

  .card-header {
    font-size: 22px;
    color: #313131;
    font-weight: 500;
  }
}
